<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CRFSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CRFSuite.Properties.Settings>
            <setting name="checkFileAssociations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="askToChangeDefaultPass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showDecodeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="groupSwipesInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="groupSwipesIntervalUnit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="alignChars" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="showCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showDirection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTimeFormat" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="decodeMethod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="showTrack1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showTrack2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showTrack3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="track1BPC" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="track2BPC" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="track3BPC" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="track1Start" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="track2Start" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="track3Start" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="decodeFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="keys" serializeAs="String">
                <value />
            </setting>
            <setting name="showKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rememberKey" serializeAs="String">
                <value>False</value>
            </setting>
        </CRFSuite.Properties.Settings>
    </userSettings>
</configuration>