<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="crf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <runtime>
        <legacyUnhandledExceptionPolicy enabled="1"/>
    </runtime>
    <userSettings>
        <crf.Properties.Settings>
            <setting name="checkFileAssociations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="askToChangeDefaultPass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showDecodeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="groupSwipesInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="groupSwipesIntervalUnit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="alignChars" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="showCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showDirection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTimeFormat" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="decodeMethod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="decodeFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="keys" serializeAs="String">
                <value />
            </setting>
            <setting name="showKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rememberKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emptyCardChars" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="showTrack1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTrack2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTrack3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showAdvancedDecoder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoResize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="smartDecoding" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkForUpdatesOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showDecoderSwitchWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="openAfterDownload" serializeAs="String">
                <value>0</value>
            </setting>
        </crf.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
